body {

  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
  -webkit-transform: translateZ(0);
  background: var(--Page-bg, linear-gradient(180deg, #262626 39.6%, #383838 86.78%));

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.testsect {
  height: 100vh;
  background: none;
}

@font-face {
  font-family: 'Roslindale Cyrillic Text';
  src: url('/src/fonts/RoslindaleCyrillicText-Regular.woff2') format('woff2'),
      url('src/fonts/RoslindaleCyrillicText-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roslindale Cyrillic Text I';
  src: url('src/fonts/RoslindaleCyrillicText-MediumItalic.woff2') format('woff2'),
      url('src/fonts/RoslindaleCyrillicText-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roslindale Cyrillic Condensed';
  src: url('src/fonts/RoslindaleCyrillicDisplayCondensed-Regular.woff2') format('woff2'),
      url('src/fonts/RoslindaleCyrillicDisplayCondensed-Regular.woff') format('woff');
}