body {

  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
  -webkit-transform: translateZ(0);
  background: var(--Page-bg, linear-gradient(180deg, #262626 39.6%, #383838 86.78%));

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.testsect {
  height: 100vh;
  background: none;
}

.fullMuts {
  width: 100dvw;
  height: 100dvh;
}

.spat {
  position: absolute;
  top: 50%;
  left: 50%;
  color: red;
}